<p>
	<strong>Координаты курсора:</strong> <span id="coord-live"></span><br>
	<strong>Координаты клика:</strong> <span id="coord-click"></span>
</p>
<style type="text/css">
body {
	background: #fff8ed;
}
</style>

<script src="https://snipp.ru/cdn/jquery/2.1.1/jquery.min.js"></script>
<script>

var pos_first = 0;
var pos_second = 0;
var old_coord = true;

function getPosition(e){
	var x = y = 0;

	if (!e) {
		var e = window.event;
	}

	if (e.pageX || e.pageY){
		x = e.pageX;
		y = e.pageY;
	} else if (e.clientX || e.clientY){
		x = e.clientX + document.body.scrollLeft + document.documentElement.scrollLeft;
		y = e.clientY + document.body.scrollTop + document.documentElement.scrollTop;
	}

	return {x: x, y: y}
}


/* Координаты курсора */
$('body').mousemove(function(e){
	var coord = getPosition(e);
	$('#coord-live').html(coord.x + "," + coord.y);
});

/* Координаты клика */
$('body').click(function(e){
	var coord = getPosition(e);
	$('#coord-click').html(coord.x + "," + coord.y);
    
    if (old_coord){
        pos_first = coord;
        old_coord = false;
    }
    else{
        pos_second = coord;
        var dist = Math.pow(Math.pow(pos_second.x - pos_first.x, 2) + Math.pow(pos_second.y - pos_first.y, 2), 0.5);
        alert('Расстояние между точками = ' + dist + ' px');
        old_coord = true;
    }


});




</script>