* {
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: red;
}

h1 {
    margin: 0 0 0 0;
}

.block {
    height: 50vh;
    width: 50vw;
    background-color: red;
}

.block_item1 {
    width: 200px;
    height: 200px;
    background-color: blue;
    box-sizing: content-box;
    margin-left: 100px;
    padding-top: 40px;
    border: 15px yellow solid;
    box-sizing: border-box;
}

.block-item2 {
    width: 200px;
    height: 200px;
    background-color: green;
    margin-top: 50px;
    margin-left: 200px;
} 